
.roomHeader {
    display: none;
}

.chatWindow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f0f0;
    border: 1px solid #e51212;

    padding: 5px;
}

.chatOutput {
    background-color: #919191;

}

.chatInputPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #e0e0e0;


}